<div class="landing-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url(https://images.pexels.com/photos/9606/people-woman-sport-muscles.jpg); height: 25rem; transform: translate3d(0px, 0px, 0px);">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="title">A propos de nous</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="about-team team-1">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <p>Onlybloc est né d'un constat simple :  Il y a de plus en plus de salles de bloc en France, mais aucun moyen de les retrouver au même endroit et de les comparer.<br>OnlyBloc résout ces deux problèmes !</p>
          <p> L'équipe à l'origine de OnlyBloc :</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <%= image_tag("https://media-exp1.licdn.com/dms/image/C4D03AQHv26bu3bdONA/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=MEw0UYcPx2RSYoVArDADrZ5Rxx9Yh_I264XEbk7QKzY") %>
            </div>
            <div class="card-body">
              <h4 class="card-title">Nathan CHATEAU</h4>
              <h6 class="category text-muted">Développeur web / grimpeur addict</h6>
            </div>
            <div class="card-footer justify-content-center">
              <%= link_to "https://www.linkedin.com/in/nathan-chateau-8100746b/", class: "btn btn-just-icon btn-link btn-linkedin" do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <%= image_tag("https://media-exp1.licdn.com/dms/image/C5103AQFtfTEISVj3oQ/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=HYjk007nkYyIyijGjCnZdodhWy3oyyaQJLRngdYiJ60") %>
            </div>
            <div class="card-body">
              <h4 class="card-title">Hadrien SAMOUILLAN</h4>
              <h6 class="category text-muted">Développeur web / infirmier /grimpeur en devenir</h6>
            </div>
            <div class="card-footer justify-content-center">
              <%= link_to "https://www.linkedin.com/in/hadrien-samouillan-34346b116/", class:"btn btn-just-icon btn-link btn-linkedin" do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <%= image_tag("https://media-exp1.licdn.com/dms/image/C4E03AQHJUqVr3Y-ZKg/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=Amf4KKBNg6tnZVUG-KaEfnvsL4MAih0MYdmalMCSSpE") %>
            </div>
            <div class="card-body">
              <h4 class="card-title">Amy MCARTHUR</h4>
              <h6 class="category text-muted">Développeuse web / journaliste / grimpeuse</h6>
            </div>
            <div class="card-footer justify-content-center">
              <%= link_to "https://fr.linkedin.com/in/amy-mcarthur-6931a2a0/fr", class:"btn btn-just-icon btn-link btn-linkedin" do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
