<div class="page-header header-filter" style= "background-image: url(https://images.pexels.com/photos/976872/pexels-photo-976872.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260); background-size: cover; background-position: top center;">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="pt-5 col-lg-6 col-md-8 col-sm-10 mt-auto mb-auto ml-auto mr-auto">
        <div class="card card-login card-hidden text-center">
          <div class="card-header card-header-primary text-center">
            <h4 class="card-title">Mettre à jour le mot de passe</h4>
          </div>
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <span class="bmd-form-group">
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
              </span>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <h4>ou</h4>
              <span class="bmd-form-group">
                <div class="field">
                  <%= f.label :username %><br />
                  <%= f.text_field :username %>
                </div>
              </span>
              <hr>
              <span class="bmd-form-group">
                <div class="field">
                  <%= f.label 'Nouveau mot de passe' %> <i></i><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em>minimum <%= @minimum_password_length %> caractères</em>
                  <% end %>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="field">
                  <%= f.label 'Confirmation mot de passe' %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
              </span>
              <span class="bmd-form-group">
                <div class="field">
                  <%= f.label 'Mot de passe actuel' %> <br />
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>
              </span>
            </div>
            <div class="actions justify-content-center">
              <button class="btn btn-primary btn-round mr-3">Mettre à jour
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
